<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cats!!</title>
  </head>
  <body>
    <header>All about Cats</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/dogs">Dog Page</a>
      <a href="/cats">Cat Page</a>
      <a href="/ninjas">Ninjas Page</a>
      <a href="/pirates">Pirates Page</a>
    </nav>

    <img src="http://stylopics.com/wp-content/uploads/2013/10/Funny-Cat-Pictures-cats-935656_500_375.jpg">
    <img src="http://cdn.fliwave.com/wp-content/uploads/2014/05/cat99.jpg">
    <img src="http://www.baconwrappedmedia.com/wp-content/uploads/2012/06/Funny-Cats-Dogs-19.jpg">
    <img src="/images/funnycat.jpg">
    <iframe width="560" height="315" src="//www.youtube.com/embed/FKkejo2dMV4" frameborder="0" allowfullscreen></iframe>

    <footer>
      <small>(c) Cats</small>
    </footer>
  </body>
</html>

