<!doctype html>
<html>
  <head>
    <!-- this is a comment -->
    <meta charset="utf-8">
    <title>HTML/CSS Introduction</title>
  </head>
  <body>
    <header>My header</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/dogs">Dog Page</a>
      <a href="/cats">Cat Page</a>
      <a href="/ninjas">Ninjas Page</a>
      <a href="/pirates">Pirates Page</a>
    </nav>
    <h1>My header</h1>
    <article>
      <h2>Toy Story</h2>
      <p>Toy story is a really funny movie!</p>
      <img src="http://www.inquirelive.co.uk/wp-content/uploads/2013/02/andy.jpg">
      <a href="http://toystory.disney.com/">Click to go to toy story site</a>
      <iframe width="420" height="315" src="//www.youtube.com/embed/5G0j_Huv2Fg" frameborder="0" allowfullscreen></iframe>
      <h2>Article header</h2>
      <p>this is my paragraph</p>
    </article>
    <footer>
      <small>(c)2014 <strong>NSS <em>Cohort</em> 6</strong></small>
    </footer>
  </body>
</html>

