<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ninjas!!</title>
  </head>
  <body>
    <header>All about Ninjas</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/dogs">Dog Page</a>
      <a href="/cats">Cat Page</a>
      <a href="/ninjas">Ninjas Page</a>
      <a href="/pirates">Pirates Page</a>
    </nav>

    <img src="/images/n1.jpg">
    <img src="/images/n2.jpg">
    <img src="/images/n3.jpg">
    <iframe width="560" height="315" src="//www.youtube.com/embed/-0fLNTWNaAs" frameborder="0" allowfullscreen></iframe>

    <footer>
      <small>(c) Ninjas</small>
    </footer>
  </body>
</html>

