<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pirates</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Pirates</h1>
    <nav>
      <a href="/">Home Page</a>
      <a href="/dogs">Dog Page</a>
      <a href="/cats">Cat Page</a>
      <a href="/ninjas">Ninjas Page</a>
      <a href="/pirates">Pirates Page</a>
    </nav>

    <div class="super">1</div>
    <div class="super">2</div>
    <div class="super">3</div>
    <div id="awesome">4</div>
  </body>
</html>

